*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* *************************************************** */
/* navbar styling */
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    margin-top: -8em;
}
.logo{
    font-size: 1.5rem;
    margin: .5rem;
}
.nav-logo{
    color: #f6bd07;
    font-weight: 700;
}
.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    display: inline-block;
    padding: 8px 20px;
    font-weight: 700;
}
.navbar-links li a:hover{
    border-bottom: 6px solid #ff4500;
    /* letter-spacing: 4px; */
}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    width: 30px;
    height: 21px;
    flex-direction: column;
    justify-content: space-between;
}
.toggle-button .bar{
    height: 4px;
    width: 100%;
    background-color: orange;
    border-radius: 10px;
}

/* *************************************************** */
/* home styling */
#home{
    background: url(../Images/image2.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px;
}
.home-textCenter{
    color: #fff;
    font-weight: 700;
    padding: 20px;
}

.home-btn{
    margin-top:20px;
    border: none;
    outline: none;
    background-color: #f6bd07;
    padding: 5px 20px;
    color: #fff;
}


/* *************************************************** */
/* service styling */
#service{
    margin: 10px 0;
    text-align: center;
    background-color: lavender;
}
.content{
    text-align: center;
    padding: 20px;
}
.service-h1{
    color: orange;
    text-align: center;
    font-weight: 700;
}
.card{
    padding: 30px;
    text-align: center;
    margin: 4px auto;
    font-weight: 700;
}
.card .one{
    background-color:#f6bd07;
    margin: 1rem auto;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    width: 60px;
    height: 60px;
}
.card .one .one-top{
    margin-top: 15px;
}

/* *************************************************** */
/* review styling */
#review{
    margin-top: 3rem;
    padding: 20px;
}
.left-col{
    background: url(../Images/image1.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px;
    
}
.right-col {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 120px;
}

.underline{
    width: 100px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}
.review-content h1,h5, h6{
    font-weight: 700;
}
.review-content h5{
    margin: 2rem ;
} 

/* *************************************************** */
/* navbar styling */






/* media query makes columns lie on top of 
each other instead of next to each other  */
@media (max-width: 800px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    

  
}